USE [master]
GO
/****** Object:  Database [QLPHONGTRO]    Script Date: 8/11/2026 3:57:14 PM ******/
CREATE DATABASE [QLPHONGTRO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLPHONGTRO', FILENAME = N'D:\Program Files\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLPHONGTRO.mdf' , SIZE = 14144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLPHONGTRO_log', FILENAME = N'D:\Program Files\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLPHONGTRO_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPHONGTRO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPHONGTRO]
GO
/****** Object:  Table [dbo].[AnhPhong]    Script Date: 8/11/2026 3:57:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhPhong](
	[MaAnh] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[ThuTu] [int] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoSuCo]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoSuCo](
	[MaSuCo] [int] IDENTITY(1,1) NOT NULL,
	[MaNT] [int] NOT NULL,
	[ThoiGian] [datetime] NULL,
	[TongPhi] [decimal](18, 0) NULL,
	[MaTTXuLy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSuCo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiSoDienNuoc]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiSoDienNuoc](
	[MaChiSo] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NOT NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[CSDienCu] [int] NULL,
	[CSDienMoi] [int] NULL,
	[CSNuocCu] [int] NULL,
	[CSNuocMoi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ChiSo_Phong_ThangNam] UNIQUE NONCLUSTERED 
(
	[MaPhong] ASC,
	[Thang] ASC,
	[Nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDH]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDH](
	[PK] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NOT NULL,
	[MaDV] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSuCo]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSuCo](
	[PK] [int] IDENTITY(1,1) NOT NULL,
	[MaBCSC] [int] NOT NULL,
	[MaPhong_ThietBi] [int] NULL,
	[MoTaSuCo] [nvarchar](max) NULL,
	[MinhChung] [nvarchar](max) NULL,
	[CPPhatSinh] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuNhaTro]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuNhaTro](
	[MaChuNT] [int] NOT NULL,
	[SoTK] [varchar](50) NULL,
	[TenNH] [nvarchar](100) NULL,
	[SoGPKD] [varchar](50) NULL,
	[DaDKKD] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DayNhaTro]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DayNhaTro](
	[MaDayNT] [int] IDENTITY(1,1) NOT NULL,
	[TenDayNT] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SLPhong] [int] NULL,
	[TrangThaiNT] [bit] NULL,
	[MaChuNT] [int] NULL,
	[UrlAnh] [nvarchar](255) NULL,
	[KinhDo] [decimal](18, 10) NULL,
	[ViDo] [decimal](18, 10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDayNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [int] NOT NULL,
	[TenDV] [nvarchar](100) NOT NULL,
	[MoTaCT] [nvarchar](max) NULL,
	[GiaTien] [decimal](18, 0) NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[TTCungCap] [nvarchar](255) NULL,
	[HinhAnh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangDV]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangDV](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[MaNT] [int] NOT NULL,
	[NgayDat] [datetime] NULL,
	[TongTien] [decimal](18, 0) NULL,
	[TrangThaiDH] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[MaNcc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NOT NULL,
	[NgayLap] [datetime] NULL,
	[TienDien] [decimal](18, 0) NULL,
	[TienNuoc] [decimal](18, 0) NULL,
	[TienPhong] [decimal](18, 0) NULL,
	[TongTien] [decimal](18, 0) NULL,
	[MaTTHoaDon] [int] NOT NULL,
	[MaChiSo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong_NguoiThue]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong_NguoiThue](
	[PK] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NOT NULL,
	[MaNT] [int] NOT NULL,
	[NgayVao] [date] NULL,
	[NgayRoi] [date] NULL,
	[MaVaiTro] [int] NULL,
	[MaTTTamTru] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_HDNguoiThue] UNIQUE NONCLUSTERED 
(
	[MaHopDong] ASC,
	[MaNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDongThue]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongThue](
	[MaHopDong] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NOT NULL,
	[NgayTao] [datetime] NULL,
	[NgayBDHL] [date] NOT NULL,
	[NgayKTHL] [date] NULL,
	[GiaThue] [decimal](18, 0) NOT NULL,
	[TienDatCoc] [decimal](18, 0) NULL,
	[AnhHopDong] [nvarchar](max) NULL,
	[MaTTHopDong] [int] NOT NULL,
	[GiaDien] [decimal](18, 0) NOT NULL,
	[GiaNuoc] [decimal](18, 0) NOT NULL,
	[DonViDien] [nvarchar](20) NULL,
	[DonViNuoc] [nvarchar](20) NULL,
	[MaChuNT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuBaoTri]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuBaoTri](
	[MaBT] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NULL,
	[MaPhong_ThietBi] [int] NULL,
	[MoTa] [nvarchar](max) NULL,
	[ChiPhi] [decimal](18, 0) NULL,
	[NgayBD] [datetime] NULL,
	[NgayKT] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuThanhToan]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuThanhToan](
	[MaLSTT] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [int] NOT NULL,
	[SoTien] [decimal](18, 0) NOT NULL,
	[NgayThanhToan] [datetime] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[MaPTTT] [int] NULL,
	[MaGiaoDich] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLSTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiP] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiP] [nvarchar](100) NOT NULL,
	[GiaChuan] [decimal](18, 0) NULL,
	[SNguoiToiDa] [int] NULL,
	[MaChuNT] [int] NULL,
	[MoTa] [nvarchar](255) NULL,
	[UrlAnh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaND] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDT] [varchar](15) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[SoCCCD] [varchar](20) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[KichHoat] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[Avatar] [nvarchar](255) NULL,
	[MaVaiTro] [int] NULL,
	[GioiTinh] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SoDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiLienHeKhanCap]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiLienHeKhanCap](
	[MaNLH] [int] IDENTITY(1,1) NOT NULL,
	[MaNT] [int] NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[QuanHe] [nvarchar](50) NULL,
	[SoDT] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiThueTro]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiThueTro](
	[MaNT] [int] NOT NULL,
	[NgheNghiep] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] NOT NULL,
	[MoTaDV] [nvarchar](max) NULL,
	[SanSang] [bit] NULL,
	[DanhGiaTB] [float] NULL,
	[KhuVucPV] [nvarchar](255) NULL,
	[ViDo] [decimal](18, 10) NULL,
	[KinhDo] [decimal](18, 10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaDayNT] [int] NOT NULL,
	[MaLoaiP] [int] NOT NULL,
	[SoPhong] [nvarchar](20) NOT NULL,
	[GiaThucTe] [decimal](18, 0) NOT NULL,
	[MaTTPhong] [int] NULL,
	[MaTTrPhong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Phong_Day_SoPhong] UNIQUE NONCLUSTERED 
(
	[MaDayNT] ASC,
	[SoPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong_ThietBi]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong_ThietBi](
	[MaPhong_ThietBi] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [int] NOT NULL,
	[MaThBi] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong_ThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongThucThanhToan]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongThucThanhToan](
	[MaPTTT] [int] NOT NULL,
	[TenPTTT] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshToken]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshToken](
	[MaRT] [int] IDENTITY(1,1) NOT NULL,
	[MaND] [int] NOT NULL,
	[Token] [varchar](500) NOT NULL,
	[HetHanLuc] [datetime] NOT NULL,
	[NgayTao] [datetime] NULL,
	[BiThuHoi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaRT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietBi]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietBi](
	[MaThBi] [int] IDENTITY(1,1) NOT NULL,
	[TenThBi] [nvarchar](100) NOT NULL,
	[AnhThBi] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ThietBi_Ten] UNIQUE NONCLUSTERED 
(
	[TenThBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaTB] [int] IDENTITY(1,1) NOT NULL,
	[MaND] [int] NOT NULL,
	[TieuDe] [nvarchar](255) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[DaDoc] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[LoaiTB] [nvarchar](30) NULL,
	[MaThucThe] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhTrangPhong]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrangPhong](
	[MaTTrPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenTTrPhong] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTTrPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TinhTrangPhong_Ten] UNIQUE NONCLUSTERED 
(
	[TenTTrPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiHoaDon]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiHoaDon](
	[MaTTHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[TenTTHoaDon] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTTHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TrangThaiHoaDon_Ten] UNIQUE NONCLUSTERED 
(
	[TenTTHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiHopDong]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiHopDong](
	[MaTTHopDong] [int] IDENTITY(1,1) NOT NULL,
	[TenTTHopDong] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTTHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TrangThaiHopDong_Ten] UNIQUE NONCLUSTERED 
(
	[TenTTHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiPhong]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiPhong](
	[MaTTPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenTTPhong] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTTPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TrangThaiPhong_Ten] UNIQUE NONCLUSTERED 
(
	[TenTTPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiTamTru]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiTamTru](
	[MaTTTamTru] [int] IDENTITY(1,1) NOT NULL,
	[TenTTTamTru] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTTTamTru] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TrangThaiTamTru_Ten] UNIQUE NONCLUSTERED 
(
	[TenTTTamTru] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiXuLy]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiXuLy](
	[MaTTXuLy] [int] IDENTITY(1,1) NOT NULL,
	[TenTTXuLy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTTXuLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TrangThaiXuLy_Ten] UNIQUE NONCLUSTERED 
(
	[TenTTXuLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTroHeThong]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTroHeThong](
	[MaVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTroNguoiThue]    Script Date: 8/11/2026 3:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTroNguoiThue](
	[MaVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_VaiTroNguoiThue_Ten] UNIQUE NONCLUSTERED 
(
	[TenVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiSo_MaPhong]    Script Date: 8/11/2026 3:57:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiSo_MaPhong] ON [dbo].[ChiSoDienNuoc]
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietDH_MaDH]    Script Date: 8/11/2026 3:57:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDH_MaDH] ON [dbo].[ChiTietDH]
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonHangDV_MaNT]    Script Date: 8/11/2026 3:57:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonHangDV_MaNT] ON [dbo].[DonHangDV]
(
	[MaNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDon_MaHopDong]    Script Date: 8/11/2026 3:57:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_MaHopDong] ON [dbo].[HoaDon]
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDon_TrangThai]    Script Date: 8/11/2026 3:57:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_TrangThai] ON [dbo].[HoaDon]
(
	[MaTTHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HDNguoiThue_MaHopDong]    Script Date: 8/11/2026 3:57:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_HDNguoiThue_MaHopDong] ON [dbo].[HopDong_NguoiThue]
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HDNguoiThue_MaNT]    Script Date: 8/11/2026 3:57:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_HDNguoiThue_MaNT] ON [dbo].[HopDong_NguoiThue]
(
	[MaNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HopDong_MaPhong]    Script Date: 8/11/2026 3:57:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_HopDong_MaPhong] ON [dbo].[HopDongThue]
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RefreshToken_Token]    Script Date: 8/11/2026 3:57:15 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RefreshToken_Token] ON [dbo].[RefreshToken]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnhPhong] ADD  DEFAULT ((0)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[AnhPhong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[BaoCaoSuCo] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[BaoCaoSuCo] ADD  DEFAULT ((0)) FOR [TongPhi]
GO
ALTER TABLE [dbo].[ChiSoDienNuoc] ADD  DEFAULT ((0)) FOR [CSDienCu]
GO
ALTER TABLE [dbo].[ChiSoDienNuoc] ADD  DEFAULT ((0)) FOR [CSDienMoi]
GO
ALTER TABLE [dbo].[ChiSoDienNuoc] ADD  DEFAULT ((0)) FOR [CSNuocCu]
GO
ALTER TABLE [dbo].[ChiSoDienNuoc] ADD  DEFAULT ((0)) FOR [CSNuocMoi]
GO
ALTER TABLE [dbo].[ChiTietDH] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[ChiTietSuCo] ADD  DEFAULT ((0)) FOR [CPPhatSinh]
GO
ALTER TABLE [dbo].[ChuNhaTro] ADD  DEFAULT ((0)) FOR [DaDKKD]
GO
ALTER TABLE [dbo].[DayNhaTro] ADD  DEFAULT ((0)) FOR [SLPhong]
GO
ALTER TABLE [dbo].[DayNhaTro] ADD  DEFAULT ((1)) FOR [TrangThaiNT]
GO
ALTER TABLE [dbo].[DonHangDV] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DonHangDV] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  DEFAULT ('kWh') FOR [DonViDien]
GO
ALTER TABLE [dbo].[HopDongThue] ADD  DEFAULT ('m3') FOR [DonViNuoc]
GO
ALTER TABLE [dbo].[LichSuThanhToan] ADD  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[LoaiPhong] ADD  DEFAULT ((0)) FOR [GiaChuan]
GO
ALTER TABLE [dbo].[LoaiPhong] ADD  DEFAULT ((1)) FOR [SNguoiToiDa]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((1)) FOR [KichHoat]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT ((1)) FOR [SanSang]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT ((0)) FOR [DanhGiaTB]
GO
ALTER TABLE [dbo].[RefreshToken] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[RefreshToken] ADD  DEFAULT ((0)) FOR [BiThuHoi]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT ((0)) FOR [DaDoc]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[AnhPhong]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaoCaoSuCo]  WITH CHECK ADD FOREIGN KEY([MaTTXuLy])
REFERENCES [dbo].[TrangThaiXuLy] ([MaTTXuLy])
GO
ALTER TABLE [dbo].[BaoCaoSuCo]  WITH CHECK ADD FOREIGN KEY([MaNT])
REFERENCES [dbo].[NguoiThueTro] ([MaNT])
GO
ALTER TABLE [dbo].[ChiSoDienNuoc]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[ChiTietDH]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHangDV] ([MaDH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDH]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[ChiTietSuCo]  WITH CHECK ADD FOREIGN KEY([MaBCSC])
REFERENCES [dbo].[BaoCaoSuCo] ([MaSuCo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietSuCo]  WITH CHECK ADD FOREIGN KEY([MaPhong_ThietBi])
REFERENCES [dbo].[Phong_ThietBi] ([MaPhong_ThietBi])
GO
ALTER TABLE [dbo].[ChuNhaTro]  WITH CHECK ADD FOREIGN KEY([MaChuNT])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[DayNhaTro]  WITH CHECK ADD  CONSTRAINT [FK_DAYNHATRO_CHUTRO] FOREIGN KEY([MaChuNT])
REFERENCES [dbo].[ChuNhaTro] ([MaChuNT])
GO
ALTER TABLE [dbo].[DayNhaTro] CHECK CONSTRAINT [FK_DAYNHATRO_CHUTRO]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[DonHangDV]  WITH CHECK ADD FOREIGN KEY([MaNT])
REFERENCES [dbo].[NguoiThueTro] ([MaNT])
GO
ALTER TABLE [dbo].[DonHangDV]  WITH CHECK ADD  CONSTRAINT [FK_NhaCungCap] FOREIGN KEY([MaNcc])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[DonHangDV] CHECK CONSTRAINT [FK_NhaCungCap]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDongThue] ([MaHopDong])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaTTHoaDon])
REFERENCES [dbo].[TrangThaiHoaDon] ([MaTTHoaDon])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CSDN] FOREIGN KEY([MaChiSo])
REFERENCES [dbo].[ChiSoDienNuoc] ([MaChiSo])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_CSDN]
GO
ALTER TABLE [dbo].[HopDong_NguoiThue]  WITH CHECK ADD FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDongThue] ([MaHopDong])
GO
ALTER TABLE [dbo].[HopDong_NguoiThue]  WITH CHECK ADD FOREIGN KEY([MaTTTamTru])
REFERENCES [dbo].[TrangThaiTamTru] ([MaTTTamTru])
GO
ALTER TABLE [dbo].[HopDong_NguoiThue]  WITH CHECK ADD FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTroNguoiThue] ([MaVaiTro])
GO
ALTER TABLE [dbo].[HopDong_NguoiThue]  WITH CHECK ADD FOREIGN KEY([MaNT])
REFERENCES [dbo].[NguoiThueTro] ([MaNT])
GO
ALTER TABLE [dbo].[HopDongThue]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[HopDongThue]  WITH CHECK ADD FOREIGN KEY([MaTTHopDong])
REFERENCES [dbo].[TrangThaiHopDong] ([MaTTHopDong])
GO
ALTER TABLE [dbo].[HopDongThue]  WITH CHECK ADD  CONSTRAINT [FK_CHUHD] FOREIGN KEY([MaChuNT])
REFERENCES [dbo].[ChuNhaTro] ([MaChuNT])
GO
ALTER TABLE [dbo].[HopDongThue] CHECK CONSTRAINT [FK_CHUHD]
GO
ALTER TABLE [dbo].[LichSuBaoTri]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[LichSuBaoTri]  WITH CHECK ADD FOREIGN KEY([MaPhong_ThietBi])
REFERENCES [dbo].[Phong_ThietBi] ([MaPhong_ThietBi])
GO
ALTER TABLE [dbo].[LichSuThanhToan]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[LichSuThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_PTTT] FOREIGN KEY([MaPTTT])
REFERENCES [dbo].[PhuongThucThanhToan] ([MaPTTT])
GO
ALTER TABLE [dbo].[LichSuThanhToan] CHECK CONSTRAINT [FK_PTTT]
GO
ALTER TABLE [dbo].[LoaiPhong]  WITH CHECK ADD  CONSTRAINT [FK_LoaiPhong_ChuNhaTro] FOREIGN KEY([MaChuNT])
REFERENCES [dbo].[ChuNhaTro] ([MaChuNT])
GO
ALTER TABLE [dbo].[LoaiPhong] CHECK CONSTRAINT [FK_LoaiPhong_ChuNhaTro]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_VaiTro] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTroHeThong] ([MaVaiTro])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_VaiTro]
GO
ALTER TABLE [dbo].[NguoiLienHeKhanCap]  WITH CHECK ADD FOREIGN KEY([MaNT])
REFERENCES [dbo].[NguoiThueTro] ([MaNT])
GO
ALTER TABLE [dbo].[NguoiThueTro]  WITH CHECK ADD FOREIGN KEY([MaNT])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaDayNT])
REFERENCES [dbo].[DayNhaTro] ([MaDayNT])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaLoaiP])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiP])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaTTPhong])
REFERENCES [dbo].[TrangThaiPhong] ([MaTTPhong])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaTTrPhong])
REFERENCES [dbo].[TinhTrangPhong] ([MaTTrPhong])
GO
ALTER TABLE [dbo].[Phong_ThietBi]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phong_ThietBi]  WITH CHECK ADD FOREIGN KEY([MaThBi])
REFERENCES [dbo].[ThietBi] ([MaThBi])
GO
ALTER TABLE [dbo].[RefreshToken]  WITH CHECK ADD FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[ChiSoDienNuoc]  WITH CHECK ADD CHECK  (([Thang]>=(1) AND [Thang]<=(12)))
GO
USE [master]
GO
